﻿/* funcionamento */
#option-cake:checked ~ #menu-drinks,
#option-drinks:checked ~ #menu-cake {
    display: none;
}

input[type=radio] {
    display: none;
}
.menu {
    width: 100%;
}

/* decoracao */
body {
    background: #3D1A11;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

label {
    background: center top no-repeat #fdcfca;
    background-size: 4em;
    color: white;
    display: block;
    font-size: 75%;
    padding: 4em 0 1em;
    text-transform: uppercase;
}
    label[for=option-cake] {
            background-image: url(imagens/icone-bolos.svg);
        }
        label[for=option-drinks] {
            background-image: url(imagens/icone-bebidas.svg);
    }
    :checked + label {
        background-color: #fa7f72;
    }

/* posicionamento */
label {
    width: 50%;

    position: fixed;
    bottom: 0;
    z-index: 1;
}
    label[for=option-cake] {
        left: 0;
    }
     label[for=option-drinks] {
        right: 0;
    }

.menu {
    margin-bottom: 100px;
}

/* animado */
html,
body {
    overflow-x: hidden;
    width: 100%;
}
.container-menus {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: transform 300ms ease;
            transition: -webkit-transform 300ms ease;
    width: 200%;
}

.container-menus .menu {
    float: left;
    width: 50%;
}

#option-drinks:checked ~ .container-menus {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* android velho */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix {
  from { padding: 0; }
  to { padding: 0; }
}